{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block body %}
        <h1 class="title">{% trans %}Inscription{% endtrans %}</h1>
        {{ form_start(registrationForm, {'attr': {'class': 'row'}}) }}
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <h6 class="text-margin">E-mail</h6>
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control','placeholder': 'Email'}}) }}
                    <span class="error">{{ form_errors(registrationForm.email) }}</span>
                </div>
                <div class="form-group col-md-6">
                    <h6 class="text-margin">Username</h6>
                    {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'form-control','placeholder': 'Username'}}) }}
                    <span class="error">{{ form_errors(registrationForm.pseudo) }}</span>
                </div>
                <div class="form-group col-md-6">
                    <h6 class="text-margin">{% trans %}Mot de passe{% endtrans %}</h6>
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control','placeholder': 'Mot de passe'}}) }}
                    <span class="error">{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}</span>
                </div>
            </div>
            <div class="input-field col s12">
                <input type="submit" name="" class="btn btn-primary button" value="M'inscrire">
            </div>
        {{ form_end(registrationForm) }}
{% endblock %}

