﻿@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Poppins';
}

.dark-mode {
    background-color: black;
    color: white;
  }
.flag{
  width: 50px;
  border-radius: 5px;
}
.logo{
  width: 90px;
  margin-right: 15px;
  }
.dark{
  width: 80px !important;
  height: 45px;
}

.icon{
  margin-left: 20px;
}

.list{
  margin-top: 20px;
}

.titre{
  text-align: center;
  margin-top: 15px;
}
.profil{
  width: 30px;
  margin-left: 10px;
}

.welcome-area {
  width: 100%;
  height: 100vh;
  min-height: 793px;
  background-image: url(../img/banner-bg.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.block-title{
  font-weight: 900;
}
.block-title-margin{
  margin-top: 10%;
}

.header-description{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 17px;
}

.section-1{
  padding: 200px 0px;
}

.filtre-form{
  
  margin: 0 auto;
  width: 60%;
  margin-top: 50px;
  margin-bottom: 50px;

}
.filtre-saisie{
  border-radius: 50rem !important;
}

.button{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.text-margin{
  margin-top: 20px;
  margin-bottom: 10px;
}
.title{
  font-weight: 900;
  margin-top: 20px;
}

.general-button{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.card-title{
  font-weight: 900;
  color: #485785 !important;
  font-size: x-large;
  margin-bottom: 20px;
}

.edit-button{
  display: flex;
  margin-top: 15px;
}

.comment-title{
  margin-bottom: 20px;
    font-weight: 900;

}

.user-comment{
  font-weight: 900;
  color: #485785 !important;
}