﻿{% extends 'base.html.twig' %}

{% block title %}{% trans %}Ajouter une annonce{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title">{% trans %}Ajouter une annonce{% endtrans %}</h1>
    {{form_start(annonceForm)}}
    <div class="form-row">
        <div class="form-group col-md-6">
            <p>{% trans %}Titre{% endtrans %}</p>
            {{ form_widget(annonceForm.titre, {'attr': {'class': 'form-control', 'placeholder': 'Titre'}}) }}
            <small class="text-danger">{{ form_errors(annonceForm.titre) }}</small>
        </div>
        <div class="form-group col-md-6">
            <p>Crypto</p>
            {{ form_widget(annonceForm.crypto, {'attr': {'class': 'selectpicker form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <p>{% trans %}Déscription{% endtrans %}</p>
        {{ form_widget(annonceForm.description, {'attr': {'class': 'form-control', 'rows': 12}}) }}
    </div>
    <button type="submit" class="btn btn-primary button">{% trans %}Ajouter{% endtrans %}</button>
    {{ form_end(annonceForm) }}
{% endblock %}