﻿{% extends 'base.html.twig' %}

{% block title %}Editer une annonce{% endblock %}
{% block body %}
    <h1 class="title">{% trans %}Editer{% endtrans %}</h1>
    {{form_start(annonceForm)}}
    <div class="form-row">
        <div class="form-group col-md-6 text-margin">
            {{ form_label(annonceForm.titre, 'Titre') }}
            {{ form_widget(annonceForm.titre, {'attr': {'class': 'form-control', 'placeholder': 'Titre'}}) }}
            <small class="text-danger">{{ form_errors(annonceForm.titre) }}</small>
        </div>
        <div class="form-group col-md-6 text-margin">
            {{ form_label(annonceForm.crypto, 'Crypto') }}
            {{ form_widget(annonceForm.crypto, {'attr': {'class': 'selectpicker form-control'}}) }}
        </div>
    </div>
    <div class="form-group text-margin">
        {{ form_label(annonceForm.description, 'Description') }}
        {{ form_widget(annonceForm.description, {'attr': {'class': 'form-control', 'rows': 12}}) }}
    </div>
    <div class="edit-button">
        <a class="nav-link active" href="{{path('annonces_user')}}">
            <button type="button" class="btn btn-danger">{% trans %}Annuler{% endtrans %}</button>  
        </a>
        <button type="submit" class="btn btn-primary">{% trans %}Enregistrer{% endtrans %}</button>
    </div>
    {{ form_end(annonceForm) }}
{% endblock %}