{% extends 'base.html.twig' %}

{% block title %}{{ annonce.titre }}{% endblock %}

{% block body %}
<article class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>{{ annonce.titre }}</h1>
            <p>Article créer le {{annonce.createdAt|format_date()}}</p>
            <div class="mt-4">
                {{ annonce.description}}<br>
            </div>
            <br>
            {% if app.user is not null %}
            <div>
                {{ form_start(commentaireForm) }}
                <h3 class="comment-title"> {%trans %} Votre commentaire : {%endtrans%} </h3>
                {{ form_widget
                    (commentaireForm.commentaire, {'attr' :
                        {'class' : 'form-control',
                            'placeholder' : 'Restez courtois'
                        }}
                    )
                }}
                <button type="submit" class="btn btn-secondary my-2 my-sm-0 button">Commenter</button>
                {{ form_end(commentaireForm) }}
            </div>
            {% endif %}
            {% if commentaires is not null %}
                <div>
                    <h3 class="comment-title"> {%trans %} Les commentaires : {%endtrans%}</h3>
                    <br>
                    {% for commentaire in commentaires %}
                        <div class="form-group">
                            <fieldset>
                                <label class="form-label mt-4 user-comment" for="readOnlyInput">{{ commentaire.users.getPseudo}}</label>
                                <p>{{ commentaire.createdAt.format('d/m/Y h:m') }}</p>
                                <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ commentaire.commentaire }}" readonly="">
                            </fieldset>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>


</article>
{% endblock %}


