﻿{% extends 'base.html.twig' %}

{% block title %}Cryptoworld{% endblock %}

{% block body %}
  
    <h1 class="titre title">{% trans %}Liste des annonces{% endtrans %}</h1>
    <table class="table table-hover list">
        <tr class="table-dark">
          <th scope="col">#</th>
          <th scope="col">{% trans %}Titre de l'annonce{% endtrans %}</th>
          <th scope="col">{% trans %}Crypto{% endtrans %}</th>
          <th scope="col">{% trans %}Modifier{% endtrans %}</th>
          <th scope="col">{% trans %}Supprimer{% endtrans %}</th>
        </tr>
      {% set i=1 %}
      {% for annonce in annonces %}
          <tr class="table-secondary ">
            <td>{{i}}</td>
            <td><a href="{{ path('show_annonce', {'slug': annonce.slug}) }}">{{annonce.titre}}</a></td>
            <td>{{annonce.crypto.nom}}</td>
            <td><a href ="{{path('annonce_edit', {slug: annonce.slug})}}"><i class="fa-solid fa-pen icon"></i></span></a></td>
            <td><a href ="{{path('annonce_delete', {slug: annonce.slug})}}"><i class="fa-solid fa-trash icon"></i></i></span></a></td>
          </tr>
      {% set i=i+1 %}
      {% endfor %}
    </table>
  
{% endblock %}
