﻿{% extends 'base.html.twig' %}

{% block title %}{% trans %}Editer un utilisateur{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title">{% trans %}Editer un utilisateur{% endtrans %}</h1>
    {{form_start(userForm)}}
        {{ form_widget(userForm.email, {'attr': {'class': 'form-control text-margin', 'placeholder': 'Titre', 'disabled':''}}) }}
    {{ form_end(userForm) }}
    
{% endblock %}