﻿{% extends 'base.html.twig' %}

{% block title %}Cryptoworld{% endblock %}

{% block body %}
  
    <h1 class="titre">{% trans %}Liste des utilisateurs{% endtrans %}</h1>
    <table class="table table-hover list">
        <tr class="table-dark">
          <th scope="col">#</th>
          <th scope="col">{% trans %}Email{% endtrans %}</th>
          <th scope="col">{% trans %}Rôle{% endtrans %}</th>
          <th scope="col">{% trans %}Editer{% endtrans %}</th>
        </tr>
      {% set i=1 %}
      {% for user in users %}
          <tr class="table-secondary ">
            <td>{{i}}</td>
            <td>{{user.email}}</td>
            <td>
              {% for role in user.roles %}
                {% if role == "ROLE_ADMIN"%}
                  Admin
                {% elseif role == "ROLE_USER"%}
                  Utilisateur
                {% endif %}
              {% endfor %}
            </td>
            <td><a href ="{{path('admin_edit_user', {'id': user.id})}}"><i class="fa-solid fa-pen icon"></i></span></a></td>
          </tr>
      {% set i=i+1 %}
      {% endfor %}
    </table>
  
{% endblock %}
