{% extends 'base.html.twig' %}

{% block title %}Cryptoworld{% endblock %}

{% block body %}
<div class="container mt-4 welcome-area">
    <div class="row" style="display: flex;">
        <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12 block-title-margin">
            <h1 class="block-title">{% trans %}Bienvenue dans{% endtrans %}</h1>
            <h1 class="block-title">Cryptoworld</h1>
            <p class="header-description">{% trans %}Cryptoworld est une plateforme permettant aux passionnés de cryptomonnaie d'échanger sur les cryptomonnaies du métavers. 
                Vous avez la possibilité en tant que membre de pouvoir posté des annonces sur une cryptomonnaie ou également laissé un commentaire
                sur une annonce.{% endtrans %}
            </p>
        </div>
    </div>
    <a href="#section-1" class="btn btn-outline-secondary">{% trans %}Annonces{% endtrans %}</a>
    <section class="section-1" id="section-1">
        <div class="row">
            <div class="col">
                <h1 class="text-center block-title">{% trans %}Articles récents{% endtrans %}</h1>
            </div>
        </div>
        {{form_start(filtreForm)}}
        <div class="d-flex filtre-form">
            {{ form_widget(filtreForm.titre, {'attr': {'class': 'form-control me-sm-2 filtre-saisie','placeholder': 'Crypto'}}) }}
            <button class="btn btn-secondary my-2 my-sm-0">{% trans %}Rechercher{% endtrans %}</button>
        </div>
        {{form_end(filtreForm)}}
        <div class="row">
            <div class="d-flex flex-row flex-wrap">
                {% for annonce in annonces %}    
                <div class="card m-2" style="width: 16rem;">
                        <div class="card-body">
                                <h5 class="card-title">{{annonce.titre}}</h5>
                            <small class="card-text text-secondary"></small>
                            <p>{{annonce.crypto.nom}}</p>
                        </div>
                        <a href="{{ path('show_annonce', {'slug': annonce.slug}) }}" class="btn btn-outline-secondary general-button">{% trans %}Découvrir{% endtrans %}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
