<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{asset('assets/style/style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <script src="{{asset('assets/js/script.js')}}"></script>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                
                <a href="{{path('app_crypto_blog')}}"><img src="{{asset('assets/img/logo.png')}}" alt="erreur" class="logo"></a>
                <!-- <a class="navbar-brand" href="{{path('app_crypto_blog')}}">Cryptoworld</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_crypto_blog')}}">{% trans %}Annonces{% endtrans %}</a>
                        </li>
                        {%if app.user%}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('ajout_annonce')}}">{% trans %}Créer une annonce{% endtrans %}</a>
                        </li>
                        
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('annonces_user')}}">{% trans %}Mes annonces{% endtrans %}</a>
                            </li>
                        {%endif%}
                    </ul>
                    {%if app.user %}
                        <p style="margin-right: 10px;">{% trans %}Bienvenue {% endtrans %} {{app.user.pseudo}} !</p>
                    {%endif%}
                    <div class="form-check form-switch">
                        <input class="form-check-input dark" type="checkbox" id="flexSwitchCheckDefault" onclick="myFunction()">
                    </div>
                    {%if not app.user%}
                    <a class="nav-link active" href="{{path('app_register')}}">
                        <button type="button" class="btn btn-primary">{% trans %}S'inscrire{% endtrans %}</button>  
                    </a>
                    
                    <a class="nav-link active" href="{{path('app_login')}}">
                        <button type="button" class="btn btn-success">{% trans %}Se connecter{% endtrans %}</button>  
                    </a>
                    {%endif%}
                    {%if app.user %}
                        <a class="nav-link active" href="{{path('app_logout')}}">
                        <button type="button" class="btn btn-danger">{% trans %}Se déconnecter{% endtrans %}</button>  
                    </a>
                    {%endif%}
                    {% for locale in locales %}
                        {% if locale != app.request.locale %}
                            <a href="{{ path('change_locale', {'locale': locale}) }}"><img src="{{asset('assets/img/'~locale~'.png')}}" alt="erreur" class="flag"></a>
                        {% endif %}
                    {% endfor %}
                    
                    {%if is_granted('ROLE_ADMIN') %}
                        <a href="{{path('admin_utilisateurs')}}"><img src="{{asset('assets/img/profil.png')}}" alt="erreur" class="profil"></a>
                    {% endif %}
                </div>
            </div>
            
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        
    </body>
</html>
